@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "primereact/resources/themes/lara-light-indigo/theme.css";  
@import "primereact/resources/primereact.min.css";                  
@import "primeicons/primeicons.css";  
@import 'bootstrap/dist/css/bootstrap.css';                         
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #f9f9f9f9;
}

.users-page h1{
    margin: 20px auto;
    text-align: center;
}

.users-page h3 {
    margin: 20px auto;
    text-align: center;
}

.users-page .users-list {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px 0;
}

.users-page .users-list table .btn{
    margin: 0 5px;
}

.users-page .addNewUser{
    text-align: right;
    margin-bottom: 20px;
}

.users-page .addNewUser .btn i{
    padding: 0 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 20px 10px !important;
}

.p-datatable .p-datatable-tbody > tr {
    border: 1px solid #ddd !important;
}

.user-view h1 {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    font-size: 25px;
    font-weight: bold;
}

.user-view p{
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.user-view p span {
    display: inline-block;
    min-width: 120px;
}
.user-view p span:first-child {
    color: #6c757d;
}

.user-view p span:last-child {
    color: #333;
    font-weight: bold;
}

._add-view {
    border-bottom: none;
}